/*this adds to the height, padding and width of the page*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*allows the background color to be set*/
body {
  background-color: #d9dcd6;
}
/*configuration of style for the header of the page*/
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/*style properties for the h1 header*/
header h1 {
  display: inline-block;
  font-size: 48px;
}
/*color of the seo writing in the header*/
header h1 .seo {
  color: #d9dcd6;
}
/*style properties of the navigation bar in the header*/
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/*list property of the navigation bar*/
header nav ul {
  list-style-type: none;
}
/*list and style property of the navigation bar*/
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/*style properties for link text*/
a {
  color: #ffffff;
  text-decoration: none;
}
/*style properties for paragraph format text*/
p {
  font-size: 16px;
}
/*style properties for background image of hero class*/
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
/*style properties under this class moves it to the left of the page*/
.float-left {
  float: left;
  margin-right: 25px;
}
/*style properties under this class moves it to the right of the page*/
.float-right {
  float: right;
  margin-left: 25px;
}
/*style properties fo the content class*/
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/*style properties for the structure of the aside property*/
aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/*style properties for the benefit lead class*/
.benefit-lead,
.benefit-brand,
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

/*style properties for the header of benefit lead class*/
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

/*style properties for the image of benefit lead class*/
.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*style properties for the image of benefit brand class*/
.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*style properties for the image of benefit cost class*/
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*style properties for this section*/
.search-engine-optimization {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/*style properties for this section*/
.online-reputation-management {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/*style properties for this section*/
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/*style properties of the image for this section*/
.search-engine-optimization img {
  max-height: 200px;
}
/*style properties of the image for this section*/
.online-reputation-management img {
  max-height: 200px;
}
/*style properties of the image for this section*/
.social-media-marketing img {
  max-height: 200px;
}
/*styled properties for the header section of this class*/
.search-engine-optimization h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/*styled properties for the header section of this class*/
.online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/*styled properties for the header section of this class*/
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/*style/properties for the footer*/
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/*style/properties for the footer header*/
footer h2 {
  font-size: 20px;
}
